<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>super</title>
	<link rel="stylesheet" href="/stylesheets/main.css" media="screen" />
	<!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
	<script src="/javascripts/jquery.masonry.min.js"></script>
	<script src="/javascripts/layout.js" ></script>
</head>
<body>
<div class="wrapper">

	<header id="hd">
		<h1>header</h1>
	</header>
	<section id="bd">
		<section id="main">
			<div class="inner">
				<!-- main content -->
				<section class="masonry">
					<div class="box col3">Fusce accumsan mollis eros. Pellentesque a diam sit amet mi ullamcorper vehicula</div>
					<div class="box col3">Sit amet mi ullamcorper vehicula</div>
					<div class="box col3">Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.</div>
				</section>
				<section style="background: #ccc;padding: 10px;">
				<p>main content</p>
				<p>main, Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</section>
			</div>
		</section>
		<section id="sidebar">
			<div class="inner">
				<!-- sidebar content -->
				<section class="masonry">
					<div class="box col3"><h3>sidebar title</h3><p>Sit amet mi ullamcorper vehicula</p></div>
					<div class="box col3"><h3>sidebar title</h3><p>Fusce accumsan mollis eros. Pellentesque a diam sit amet mi ullamcorper vehicula</p></div>
					<div class="box col3"><h3>sidebar title</h3><p>Sit amet mi ullamcorper vehicula</p></div>
					<div class="box col3"><h3>sidebar title</h3><p>Sit amet mi ullamcorper vehicula</p></div>
					<div class="box col3"><h3>sidebar title</h3><p>Fusce accumsan mollis eros. Pellentesque a diam sit amet mi ullamcorper vehicula</p></div>
					<div class="box col3"><h3>sidebar title</h3><p>Sit amet mi ullamcorper vehicula</p></div>
				</section>
			</div>
		</section>
	</section>
	<footer id="ft">
		<h1>footer</h1>
	</footer>

</div><!-- end of wrap -->
</body>
</html>